@{
    ViewData["Title"] = "Masy.io";
}



<div class="splash">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="get" action="/" class="form-inline">
                    <input name="location" class="form-control large-form" type="text" placeholder="Location: City, State, Zip">
                    <input name="food" class="form-control large-form" type="text" placeholder="Keywords: Burgers, Beer, Tacos">
                    <button type="submit" class="btn btn-primary search-button"> <i class="glyphicon glyphicon-search"></i></button>
                </form>
            </div>

        </div>
    </div>
</div>

@* This is our search toolbar for searching food type and city *@

<h2>Mashy.io is an online and mobile application that is dedicated to locating restaurants in the Albuquerque area. This is achieved by searching sites such as yelp and grubhub.</h2>