@{
    ViewData["Title"] = "Mashy.io";
}



<div class="splash">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <form method="get" action="/" class="form-inline">
                    <input name="location" class="form-control large-form" type="text" placeholder="Location: City, State, Zip">
                    <input name="food" class="form-control large-form" type="text" placeholder="Keywords: Burgers, Beer, Tacos">
                    <button type="submit" class="btn btn-primary search-button"> <i class="glyphicon glyphicon-search"></i></button>
                </form>
            </div>

        </div>
    </div>
</div>

@* This is our search toolbar for searching food type and city *@

<div class="page-header">
    <h2>Mashy <small>is a webapp that allows you to search & compare reviews for restaraunts from popular websites.</small></h2>
</div>

